@import '~antd/dist/antd.css';


body {
    font-family: Helvetica, Arial, san-serif;
}

body, h1, h2, h3, h4, h5, h6{
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-weight: 600;
}

header {
  padding: 1em;
}

.view {
  padding-top: 0px;
  display: grid;
  grid-template: 
                 'item-section item-section'
                 'item-title item-title'
                 'item-description item-description'
                 'item-photo item-diagram'
                 'item-labels item-labels';
  padding-bottom: 0px;
  /* border-bottom: 1px solid gray; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:  auto auto auto auto 1fr;
  grid-column-gap: 2rem;

}

@media only screen and (min-width: 600px) {
body {
  padding: 0.5em;
}

.view .labels {
  columns: 2;
}
.view .title {  
  font-size: 28px;
}

.view .topic {
  font-size: 22px;
  font-weight: bold;
}

.view .description {
  font-size: 16px;
}

}

@media only screen and (max-width: 600px) {

.view {
  padding-top: 0px;
  display: grid;
  grid-template: 
                 'item-section'
                 'item-title'
                 'item-description'
                 'item-photo'
                 'item-diagram'
                 'item-labels';
  padding-bottom: 0px;
  /* border-bottom: 1px solid gray; */
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto 1fr;
}

.view .title {  
  font-size: 22px;
}

.view .topic {
  font-size: 18px;
  font-weight: bold;
}

.view .description {
  font-size: 14px;
}

}

.view .title .label, 
.view .section .label, 
.view .topic .label,
.view .description .label {
    display: none;
}

.view .section {
  grid-area: item-section;
  font-weight: normal;
  font-size: 18px;
  font-weight: 700;

  padding-bottom: 6px;
}

.view .title {
  grid-area: item-title;
  font-weight: normal;
  padding-bottom: 0px;
  padding-top: 0px;
  line-height: 1.2em;

}


.view .topic {
  grid-area: item-topic;
  padding-bottom: 2px;
  line-height: 1.2em;
}

.view .description {
  grid-area: item-description;
  padding-bottom: 12px;
  padding-top: 20px;
  line-height: 1.2em;
}


.view .diagram {
  grid-area: item-diagram;

  justify-self: center;
  align-self: center;
}

.view .photo {
  grid-area: item-photo;

  justify-self: center;
  align-self: center;

}
.view .diagram img {
  ewidth: 100%;
  max-height: 500px;
  object-fit: contain;
}

.view .photo img {
  object-fit: contain;
  max-height: 500px;
  width: 100%;
}

.view .labels {
  grid-area: item-labels;
  font-size: 14px;
  padding-left: 0.5em;
  padding-top: 12px;
}

.view .viewid {
  grid-area: item-viewid;
  font-size: 18px;
  font-weight: bold;
}

.view .labels {
  line-height: 1.2em;
}
.view .labels * div {
  margin-bottom: 4px;
}

h1 {
  margin-bottom: 2px;
  line-height: 1.2em;
  font-size: 36px;
  font-weight: normal;
}

.license {
  margin-bottom: 18px;
  line-height: 1.25em;
  font-style: oblique;
  font-size: 12px;
  color: gray80;
}

.total-count {
  font-size: 16px;
  margin-left: 1em;
  font-style: oblique;
  color: gray;
  margin-bottom: 0.75em;
}

.pageControls {
  margin-left: 4em;
  padding-bottom: 4em;
  font-size: 16px;
}